<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>좋아요</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>공지사항1</td>
                <td>admin</td>
                <td>10</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>공지사항2</td>
                <td>admin</td>
                <td>20</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>공지사항3</td>
                <td>admin</td>
                <td>30</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <button>글 작성하기</button>
    </div>
</div>
</body>
</html>
