<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your News</title>
    <link rel="stylesheet" href="/css/subscribe.css">
</head>
<body>
<div class="container">
    <p>소식을 그만 받으시겠습니까?</p>
    <form id="unsubscribeForm" onsubmit="return confirmUnsubscribe()">
        <div class="form-group">
            <label for="username">아이디:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <header>
                <button id="unsubscribeButton" type="submit">그만받기</button>
                <br>
                계정이 나지 않으시다면 아래 버튼을 통해 이동하여 확인해주세요!
                <br>
                <button id="indexPageButton" type="button" onclick="location.href='/'">홈으로</button>
            </header>
        </div>
    </form>
</div>

<script src="/js/unsubscribe.js"></script>
</body>
</html>
